
<div class='nav-area3'>
        <div class='imageTransparencyOverlay'>
               <div class="white"> </div> 
               <div class="clear"></div>
               <div class="black"></div>
        </div>
    </div>


<div class='nav-area2'>
        <div class='background-image2'>
                <div class='logo-container' (click)="changeBackgroundImageHome()"><a routerLink="/"><img src="../../assets/images/new-york-times-logo-png-transparent.png" class='logo' ></a></div>
                <div class="main-nav">
                <span><a routerLink="/book-reviews" (click)="changeBackgroundImageBooks()" [style.color]="bookColor" [style.font-weight]="bookFontWeight">Books</a></span>
                <span><a routerLink="/most-popular" (click)="changeBackgroundImagePopular()" [style.color]="popularColor" [style.font-weight]="popularFontWeight">Popular </a></span>
                <span><a routerLink="/top-stories" (click)="changeBackgroundImageStories()" [style.color]="latestColor" [style.font-weight]="latestFontWeight">Latest</a></span>
                
            </div>
               
        </div>
    </div>

    

<div class="nav-area">
<div class="background-image" >
    <div class="absolute">
    <img class="back" src="../../assets/images/{{bgStyle}}" type='background-image' />
    <img class="fade_out {{fade_in}}" src="../../assets/images/{{bgStyle2[(bgStyle2.length)-2]?bgStyle2[(bgStyle2.length)-2]:bgStyle2[(bgStyle2.length)-1]}}" type='background-image' />
    
    </div>

</div>
</div>








