.bodySection {
    width:100%;
    display: flex;
    justify-content: center;
}

.book-card {
    margin: 5vh 0 5vh 0;
    width: 60%;
    display:flex;
    flex-direction: row;
}

.bookImage img {
    width:15vw;
}

.content {
    margin-left: 5vh;
}