<div class="head-head">
<div class="head">

<div>
    <h1>Book Reviews</h1>
</div>


<div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()" >
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()" *ngIf="searchKey">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
</div>
</div>

<mat-table [dataSource]="listData" matSort>
       
        <ng-container matColumnDef="books">
          <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
          <mat-cell *matCellDef="let element">

                <div class="bodySection">
                        <div class="book-card">
                            <div class="bookImage" *ngIf="element.book_image !== null">
                                <img src="{{element.book_image}}">
                            </div>
                            <div class="bookImage" *ngIf="element.book_image === null">
                                <img src="../../assets/images/book-image.jpg">
                            </div>
                            <div class="content">
                            <div class="title">
                                <h2>{{element.title}}</h2>
                                <h4>{{element.author}}</h4>
                            </div>
                                <div class="description">
                                    <p>{{element.description}}</p>
                                    <a href="{{element.amazon_product_url}}"><button>Buy Now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>


          </mat-cell>
        </ng-container>

      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>


