
.bodySection {
    width:100%;
    display: flex;
    justify-content: center;
}

.book-card {
    margin: 5vh 0 5vh 0;
    width: 60%;
    display:flex;
    flex-direction: row;
}

.bookImage img {
    width:15vw;
    
}

.content {
    margin-left: 5vh;
}

#buy-now {
    background-color: gray;
    border: none;
    color: white;
    padding: 0.5vh 1vh;
    font-size: 2vh;
    margin-top: 2vh;
    border-radius: 1vh;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    
}

#buy-now:hover {
  background-color: rgb(117, 117, 117);
}


 /* paginator styling */

::ng-deep .mat-paginator {
   
   margin-right: 15vw;
   margin-left: 50vw;
   height: 5vh;
   width: 40vw;
   color: black;
   font-weight: lighter;
   font-size: 3vh;
   padding-bottom: 1vh;
   box-sizing: border-box;
}

::ng-deep .mat-paginator-range-actions {
   margin-left:2vh;
   padding:2vh;
 }


::ng-deep .mat-select-value {
  color: black;
    font-size: 15px;
}
::ng-deep .mat-select-arrow {
    color: black;


   
}
::ng-deep .mat-option{
  padding: 0!important;

}
::ng-deep .mat-option-text {
    text-align: left;

}

::ng-deep svg.mat-paginator-icon {
    color: black;
    height: 4vh;
    width: 6vh;
    padding: 0 0vh 0vh 0vh;
    margin-top: -0.6vh;
}



::ng-deep .mat-paginator-icon:hover{
    color: gold;
}

::ng-deep .mat-icon-button  {
    padding-left: 0vh !important;
    padding-right: 0vh !important;
    width:6vh !important;
   
    
   
}