
.bodySection {
    width:100%;
    display: flex;
    justify-content: center;
}

.book-card {
    margin: 5vh 0 5vh 0;
    width: 80%;
    display:flex;
    flex-direction: row;
}

.bookImage img {
    width:15vw;
    
}

.content {
    margin-left: 5vh;
}

#buy-now {
    background-color: gray;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 4px;
}

#buy-now:hover {
  background-color: rgb(117, 117, 117);
}


 /* paginator styling */

::ng-deep .mat-paginator {
   margin-right: 15vw;
   color: black;
   font-weight: lighter;
}


::ng-deep .mat-paginator-page-size-select {
    width: 2vw!important;
}

::ng-deep .mat-select-value {
  color: black;
    font-size: 15px;
}
::ng-deep .mat-select-arrow {
    color: black;
}
::ng-deep .mat-option{
  padding: 0!important;

}
::ng-deep .mat-option-text {
    text-align: left;
}

::ng-deep .mat-paginator-icon {
    color: black;
}

::ng-deep .mat-paginator-icon:hover{
    color: gold;
}