/* You can add global styles to this file, and also import other style files */
.subheading {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    padding-top: 5px;
    
}

.head-head {
    box-sizing: border-box;
    padding:2vh;
    width: 100vw;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    width: 80%;
    
}

h1 {
    display: inline;
    border: 0px;
    margin: 0px;
    padding: 0px;   
    font-size: 5vh;
}

h2 {
   font-size: 4.5vh;
}

h3 {
    font-size: 4vh;
}

h4 {
    font-size: 3vh;
}

.mat-header-row {
    display: none;
    height: 0;
}


.mat-header-cell {
    display: none;
    height: 0;
}

p {
    padding: 0px;
    margin: 0px;
    font-size: 2vh;
}

.mat-table {
    font-family: 'News Cycle', sans-serif !important; 
}

html, body { height: 100%; font-family: 'News Cycle', sans-serif !important;}
body { 
    margin: 0;
    
    
}


/* 
  filter controls  */

 .search div {
    display: flex !important;
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important; 
    align-content: flex-end !important;
}
.search-form-field {
    width: 30vw;
    margin-left: 1vw;
    padding: 1vh 1.5vw;
    background-color:rgba(240, 239, 238, 0.3);
    position: absolute;
    bottom: 0;
    font-size: 2vh;
 
}


.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px;
}



.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
}


.search-form-field div.mat-form-field-suffix button {
    height: 5vh;
    width: 5vh;
    border: none;
}


.routeContainer {
    position: relative;
}

.routeContainer>* {
    display:block;
}






.search-form-field, .ng-tns-c4-0{
    color:rgb(179, 179, 179);
}

.ng-tns-c4-0 input{
    color:black;
    caret-color: black;
}


    
    .mat-form-field-label
    {
        color:rgb(179, 179, 179) !important;
    }
  
    .mat-form-field-ripple {
    display: none !important;
    }

    .mat-paginator-container{
        display: flex;
        justify-content: flex-start !important;
        flex-direction: row;
    }
    
    